/*Estilo general de la tarjeta*/
.o_kanban_card.user_task_kanban_card {
    border-radius: 12px;
    padding: 15px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    border-left: 6px solid #6c757d; /* Color de borde izquierdo */
    transition: all 0.3s ease;
}
/*Iconos dentro del contenido*/
.user_task_kanban .fa {
    margin-right: 6px;
    color: #6c757d;
}

/*Colores por prioridad*/
.priority_0 {
    border-left-color: #adb5bd; /* baja */
}
.priority_1 {
    border-left-color: #ffc107; /* media */
}
.priority_2 {
    border-left-color: #dc3545; /* alta */
}

/*Footer el kanban*/
.user_task_kanban .o_kanban_footer {
    border-top: 1px solid #e0e0e0e0;
    padding-top: 8px;
    margin-top: 10px;
    font-size: 12px;
    color: #444;
}

/*Titulo mas destacado*/
.user_task_kanban strong {
    font-size: 16px;
    color: #333;
}
/*Mostrar el check si esta completada*/
.user_task_kanban .task-done {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #28a745;
    font-size: 18px;

}

.task-state-badge {
    font-size: 11px;
    font-weight: 600;
    padding: 3px 7px;
    border-radius: 10px;
    color: white;
    white-space: nowrap;
    
}
.state-draft     {
    background-color: #6c757d; /* gris */
}
.state-in_progress {
    background-color: #007bff; /* azul */
}
.state-done      {
    background-color: #28a745; /* verde */
}